*{
    margin: 0;
    padding: 0;
}

.box-1{
    width: 500px;
    height: 500px;
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    left: 450px;
    padding: 20px;
    
    
    
    
}

.main{
    width: 100%;
    height: 625px;
    background-image: url("https://d3nn873nee648n.cloudfront.net/900x600/19146/220-SM931536.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    color: orange;
}
input {
    width: 100%;
    height: 30px;
    
}



input[type="password"]{

    width: 180px;
    
    padding-left: 65px;
    
}
input[type="submit"]{
    width: 500px;
    height: 30px;
    background-color:aliceblue;
    color:blue;
    
    
}
input[type="radio"]{
    width: 20px;
}



