
[src="https://d3nn873nee648n.cloudfront.net/900x600/14012/3-SM510384.jpg"]{
    width: 100%;
    height: 100%;
}
[src="https://d3nn873nee648n.cloudfront.net/900x600/17639/220-SM781232.jpg"]{
    width: 100%;
    height: 100%;
}
[src="https://d3nn873nee648n.cloudfront.net/900x600/16490/220-SM918719.jpg"]{
    width: 100%;
    height: 100%;
}
[href]{
    font-size: 50px;
    color: yellow;
}
[href]{
    font-style:oblique;
    color: red;
}