.box-1{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    float: left;
}
.box-2{
    width: 400px;
    height: 400px;
    background-color: brown;
    float: left;
    clear: both;
}
.box-3{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    float: left;
    /* clear: both; */
}