.box-1{
    width: 300px;
    height: 300px;
    background-color: green;
    float: left;
    
    
}
.box-2{
    width: 300px;
    height: 300px;
    background-color:orangered;
    float: left;
}
.box-3{
    width: 300px;
    height: 300px;
    background-color:yellow;
    float: left;
}
.box-4{
    width: 300px;
    height: 300px;
    background-color: red;
    float: left;
}
.box-5{
    width: 300px;
    height: 300px;
    background-color:palevioletred;
    float: left;
}
.box-6{
    width: 300px;
    height: 300px;
    background-color:aqua;
    float: left;
}
.box-7{
    width: 300px;
    height: 300px;
    background-color:blue;
    float: left;
}
.box-8{
    width: 300px;
    height: 300px;
    background-color:mediumseagreen;
    float: left;
}
.